.agent-listing-root {
  display: flex;

  .agents-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 2px solid red;
    max-width: 900px;
    width: 75%;
    margin: 0 auto;
  }

  .technology-sidebar {
    width: 25%;
  }
}
