.project-listing-root {

    display: flex;

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
    }

    .technology-sidebar {
        width: 25%;
    }
}
