.add-agent-root {
  .button {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
  }
  .submit-button {
    background: coral;
  }
  .cancel-button {
    background: #82674b;
  }
}
