.agent-detail-box {
    width: 70%;
    max-width: 900px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;

    .detail-header {
        display: flex;
    }

    .agent-image {
        width: 150px;

        img {
            width: 100%;
        }
    }
}